In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
# load progress.csv
df = pd.read_csv('raw.csv', header=None, names=['raw'])
df['gpu'] = df.iloc[:,0].apply(lambda x: re.findall("\d+", str(x))[0])
df['pid'] = df.iloc[:,0].apply(lambda x: re.findall("\d+", str(x))[1])
df['memory'] = df.iloc[:,0].apply(lambda x: re.findall("\d+", str(x))[2])
df

                                                  raw gpu      pid memory
0   |    0   N/A  N/A   2263887      C   python   ...   0  2263887    579
1   |    0   N/A  N/A   2271749      C   python   ...   0  2271749    581
2   |    0   N/A  N/A   2275715      C   python   ...   0  2275715    579
3   |    0   N/A  N/A   2283911      C   python   ...   0  2283911    621
4   |    0   N/A  N/A   2871580      C   python   ...   0  2871580    621
5   |    1   N/A  N/A    641644      C   python   ...   1   641644    623
6   |    1   N/A  N/A   2268574      C   python   ...   1  2268574    579
7   |    1   N/A  N/A   2284969      C   python   ...   1  2284969    581
8   |    1   N/A  N/A   2865158      C   python   ...   1  2865158    581
9   |    1   N/A  N/A   2869672      C   python   ...   1  2869672    619
10  |    2   N/A  N/A   2269358      C   python   ...   2  2269358    581
11  |    2   N/A  N/A   2277784      C   python   ...   2  2277784    581
12  |    2   N/A  N/A   2864580      C   python   ...   2  2864580    557
13  |    2   N/A  N/A   2866650      C   python   ...   2  2866650    619
14  |    3   N/A  N/A   2265756      C   python   ...   3  2265756    581
15  |    3   N/A  N/A   2269867      C   python   ...   3  2269867    623
16  |    3   N/A  N/A   2272241      C   python   ...   3  2272241    581
17  |    3   N/A  N/A   2276464      C   python   ...   3  2276464    579
18  |    3   N/A  N/A   2278337      C   python   ...   3  2278337    581
19  |    4   N/A  N/A    655665      C   python   ...   4   655665    623
20  |    4   N/A  N/A   2266393      C   python   ...   4  2266393    581
21  |    4   N/A  N/A   2270601      C   python   ...   4  2270601    579
22  |    4   N/A  N/A   2272919      C   python   ...   4  2272919    621
23  |    4   N/A  N/A   2867185      C   python   ...   4  2867185    579
24  |    5   N/A  N/A   2271145      C   python   ...   5  2271145    581
25  |    5   N/A  N/A   2274644      C   python   ...   5  2274644    621
26  |    5   N/A  N/A   2277014      C   python   ...   5  2277014    623
27  |    5   N/A  N/A   2279600      C   python   ...   5  2279600    581
28  |    5   N/A  N/A   2870768      C   python   ...   5  2870768    577
29  |    6   N/A  N/A   2267053      C   python   ...   6  2267053    579
30  |    6   N/A  N/A   2273491      C   python   ...   6  2273491    581
31  |    6   N/A  N/A   2280526      C   python   ...   6  2280526    621
32  |    6   N/A  N/A   2872801      C   python   ...   6  2872801    619
33  |    7   N/A  N/A   2267998      C   python   ...   7  2267998    581
34  |    7   N/A  N/A   2273886      C   python   ...   7  2273886    581
35  |    7   N/A  N/A   2282699      C   python   ...   7  2282699    641
36  |    7   N/A  N/A   2868056      C   python   ...   7  2868056    557

In [3]:
# Save as pid.csv
df1 = pd.DataFrame(df, columns=['pid', 'gpu', 'memory'])
df1.to_csv('pid.csv', index=False)
df1

        pid gpu memory
0   2263887   0    579
1   2271749   0    581
2   2275715   0    579
3   2283911   0    621
4   2871580   0    621
5    641644   1    623
6   2268574   1    579
7   2284969   1    581
8   2865158   1    581
9   2869672   1    619
10  2269358   2    581
11  2277784   2    581
12  2864580   2    557
13  2866650   2    619
14  2265756   3    581
15  2269867   3    623
16  2272241   3    581
17  2276464   3    579
18  2278337   3    581
19   655665   4    623
20  2266393   4    581
21  2270601   4    579
22  2272919   4    621
23  2867185   4    579
24  2271145   5    581
25  2274644   5    621
26  2277014   5    623
27  2279600   5    581
28  2870768   5    577
29  2267053   6    579
30  2273491   6    581
31  2280526   6    621
32  2872801   6    619
33  2267998   7    581
34  2273886   7    581
35  2282699   7    641
36  2868056   7    557